@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    

    --border: 214.3 31.8% 91.4%;
  
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
}
 

@layer components {
  .navbar {
    @apply font-light text-sm py-3 border-b hover:bg-gray-100 px-5
  }
}